<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/static/assets/ditaLogo-3d409f18.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <li><a class="nav-link" href="#">Home</a></li>
                <li><a class="nav-link" href="#">Hardware</a></li>
                <li><a class="nav-link" href="#">Software</a></li>
                <li><a class="nav-link" href="#">Tutoring</a></li>
                <li><a class="nav-link" href="#">Login</a></li>
            </div>
        </div>
    </div>
</nav>